@font-face {
  font-family: proxima_old;
  src: url(../fonts/ProximaNovaSoft-Bold.otf); }
  @font-face{
  font-family: proxima;
  src: url(../fonts/ProximaNovaSoftRegular.ttf); 
  }
  @font-face{
  font-family: bentonsans;
  src: url(../fonts/bentonsans-book.otf); 
  }
  @font-face{
  font-family: bentonsanslight;
  src: url(../fonts/bentonsans-light.otf); 
  }
body {
  marging-top: 15rem;
  font-family: proxima;
  color: #2b2b2b; }
a.button
{
text-decoration:none !important; 
}
.title-bar {
  background: white;
  padding: 0.9rem; }

.top-bar {
  background: white;
  font-family: proxima; }
  .top-bar ul {
    background: white; }
    .top-bar ul li {
      background: white; }
      .top-bar ul li a {
        color: #606060;
        font-size: 80%; }

.menu-text {
  color: black; }
   
  @media only screen and (max-width: 639px) {
    .menu-text {
      display: none !important; } 
	 .is-drilldown
	 {
	 height:auto !important;
	 }
	 ul.menu.align-right.drilldown>li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #f8f8f8;
}
	  } 
@media only screen and (min-width: 40em) {
  .top-bar-right {
    position: relative;
     } }
.dropdown.menu li {
  float: left; }
.dropdown.menu .submenu {
  border: none; }
.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow > a::after {
  border-color: white transparent transparent; }

.is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent #fff; }

.js-drilldown-back::before {
  border-color: transparent white transparent transparent; }

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial; }

.logo {
  width: 180px;
  /* you can use % */
  height: auto; }
.menuImage {
    margin-right: 30px;
}

.rounded-corner {
  border-radius: 9px; }

.load-more-games-button {
  background-color: #4db1b6;
  color: white; }

.column.align-right {
  margin-left: auto;
  margin-right: auto;
  float: right !important; }

.main-container {
  float: left;
  position: relative;
  left: 50%; }

.fixer-container {
  float: left;
  position: relative;
  left: -50%; }

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer; }

/* slide in from the right */
@keyframes slideInRight {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }
.ng-enter {
  animation: slideInRight 0.5s both ease-in;
  z-index: 8888; }

table {
  font-family: proxima;
  color: black;
  border: none; }

table thead tr {
  background-color: #f8f8f8 !important; 
  line-height: 62px;}

table tr:nth-child(even) {
  background-color: #f8f8f8; }

table tr:nth-child(odd) {
  background-color: white; }

.money-text {
  font-size: 30px;
  color: #56b5b4; }

.button-gradient {
  background: #7cc5ab;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #7cc5ab, #4db1b6);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #7cc5ab, #4db1b6);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #7cc5ab, #4db1b6);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #7cc5ab, #4db1b6);
  /* Standard syntax */ 
  margin-right:16px;
      min-width: 90px;
  }

.default-gradient {
  background: #7cc5ab;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #7cc5ab, #4db1b6);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #7cc5ab, #4db1b6);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #7cc5ab, #4db1b6);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #7cc5ab, #4db1b6);
  /* Standard syntax */ }

select {
  background-color: #fafafa; }

.sign-up-padding {
  padding-top: 10%;
  padding-bottom: 10%; }

.input-box {
  margin-top: 5px; }

::-webkit-input-placeholder {
  text-align: center; }

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center; }

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center; }

:-ms-input-placeholder {
  text-align: center; }

/*# sourceMappingURL=app.css.map */
.page.page-contests {
    background-color: #fff;
}

#main-menu>.menu
{
margin: 0px auto;
}
.page
{
font-family:proxima;
}
.page.page-wallet {
        padding-top: 50px;
		font-family:proxima;
}
.row.currentBets.ng-scope {
    background: #f8f8f8;
	margin-bottom:40px;
	    display: table;
}
.contesthome {
     width: 100%;
    display: inline-block;
    vertical-align: middle;
	margin-left: 0px;
text-align: center;
}
.contesthome > li {
        list-style: none;
    display: inline-block;
    padding: 0px 30px;
    border-right: 1px solid;
    height: 30px;
    margin-top: 30px;
	text-align: left;
	
}

.currentbets
{
    width: 14%;
    min-width: 150px;
}
.contesthome > li:last-child {
    border: none;
}
.contesthome >  li > .ng-binding {
        margin-top: -13px;
    font-size: 14px;
}
.floatnone, .floatnone>div {
    display: inline-block;
    vertical-align: middle;
	    display: table-cell;
    float: none !important;
}
.currentbets>h5 {
    font-size: 22px;
}
.floatnone.your-funds-box {
    padding-left: 15px !important;
}
select {
    background-color: #f8f8f8;
    border: none;
    color: #32a6be;
    padding-left: 20px;
	 background-image: url('../img/ddl_arrow.png');
}
.selection>.columns{
min-width:200px !important;
}
.contest-header {
    font-size: 18px !important;
    color: #32a6be !important;
}

  @media only screen and (max-width: 1197px) {
    .contesthome
	{
	max-width:400px;
	margin-left:0px;
	text-align:left;
	
	}
	.floatnone.medium-8{
	text-align:center;
	}
	.contesthome > li {
    display: block;
    margin-bottom: 70px;
	border-right: 0px solid;
	    padding: 0px;
}
.contesthome > li:last-child {
    margin-bottom: 32px;
}
	  } 

		@media only screen and (max-width: 767px) {
		.currentbets>h5
{
float:none
}
.currentbets
{
width:100%;
}
.floatnone.your-funds-box {
    padding-left: 0px !important;
}

	  .floatnone{
    display: block;
    float: none !important;
    width: 100%;
    text-align: center;
	    padding: 10px 0px;
}
 .floatnone > h5, .floatnone > h6 
 {
 max-width:400px;
 text-align:left;
 margin: 0 auto;
 }
 .selection select{
 margin-bottom:10px;
 margin-left:15px;
 }
 }
 .sign-up-padding>div {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
	font-size:18px;
} 
.sign-up-padding>div >input{
     box-shadow: none;
    border-radius:9px;
	font-size: 22px;
height: 49px;
    font-family: bentonsanslight;
}
.sign-up-padding>div >img{
    max-width: 320px;
}
.sign-up-padding.signup>div >input{
    margin-bottom: 30px;

}
.sign-up-padding>div >button
{
margin-bottom:50px;
	font-size: 22px;
height: 49px;
padding: 0px;
}
.selection a,a.button
{
    font-size: 15px;
    height: 40px;
    line-height: 13px;

}
.button.rounded-corner.button-gradient
{
      font-size: 22px;
    height: 49px;
    line-height: 13px;

}
.sign-up-padding.signup>div >button
{
margin-top:24px;
margin-bottom:20px;
}
.menu > li > a {
  line-height: 15px;
padding: 25px 0px 14px;
font-size: 14px !important;
}
.menu > li > a.active {
color: #56b5b4
}
.footer > div > div > p
{
line-height: 15px;
}
.footer a
{
color: #56b5b4 !important;
}
.footer
{
background-color: #393939;
padding: 34px;
color: #6a6a6a;
}
.social-icon
{
margin-bottom: 0px;
}
.social-icon > li {
    display: inline-block;
height: 48px;
width: 48px;
margin: 9px;
text-align: center;
background-color: #6a6a6a;
border-radius: 50%;
font-size: 22px;
line-height: 55px;
}
.social-icon > li>i{
color:#393939;
}
.page.page-howToPlay,.page.page-news {
    background: #f8f8f8;
}
@media only screen and (max-width: 639px) 
{
.top-bar-left>.logo
{
display:none;
}
.footer > div > div
{
text-align: center !important;
}
}
.play
{
    background-color: #fff;
    margin: 0px 0px 20px;
    padding: 5px 25px !important;
	font-family: proxima;
}
.play>h3
{
    font-family: proxima;
    margin-top: 15px;
    margin-bottom: 10px
}
.play>p
{
    font-size: 17px;
    line-height: 23px;
    font-family: proxima;
}
.tool
{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
	display: inline-block;
	    font-size: 15px;
  margin-right: 15px;
      font-weight: 100 !important;
}
.tool1
{
background: #cb363c;
   
}
.tool2
{
background: #57bcda;  
}
.container-fluid.page {
    border-top: 2px solid rgb(248, 248, 248);	
}
.container-fluid.page.page-contests {
    border-top: 0px solid rgb(248, 248, 248);	
	font-family: proxima;
}
.contestheader
{
background-color:#f8f8f8;
}
.floatnone {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.selection
{
margin-bottom:15px;
margin-top:30px;
}
.selection select {
    height: 40px;
}

.selection .col-sm-2 {
    padding-left: 0px;
}
table {
    background-color: transparent;
    font-size: 16px;
}
table>thead>tr>th:first-child, table>tbody>tr>td:first-child {
    padding-left: 24px;
}
table>thead>tr>th:last-child, table>tbody>tr>td:last-child {
    padding-right: 24px;
}
.wallet .col-sm-12.columns {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.formcont,.formcont>div {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.play.news
{
min-height: 150px; 
padding-left: 0px ! important; 
padding-bottom: 0px ! important;     
padding-top: 0px !important;
margin-bottom:5px;
}
.play.news > .img
{
padding-left: 0px;
}
.play.news > .img > img
{
min-height:150px;
}
.sign-up-padding.paymentmethod {
    max-width: 400px;
    margin: 0 auto;
}
.formcont > div > input {
   height: 44px;
box-shadow: none;
border: 0px;
border-bottom: 2px solid #f8f8f8;
font-size: 18px;
margin-bottom: 24px;
}
.formcont > div > input:focus {
    border: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid !important;
}
.formcont > div > input::-webkit-input-placeholder {
    text-align: left !important;
    padding-left:5px;
}
.formcont > div > input::-moz-placeholder
{	  text-align: left !important;
    padding-left:5px;
}
.formcont > div > input:-ms-input-placeholder
{  text-align: left !important;
    padding-left:5px;
}
.formcont > div > input:-moz-placeholder 
{  text-align: left !important;
    padding-left:5px;
}
.form-control::-webkit-input-placeholder {
    text-align: left !important;
    padding-left:5px;
}
.form-control::-moz-placeholder
{	  text-align: left !important;
    padding-left:5px;
}
.form-control:-ms-input-placeholder
{  text-align: left !important;
    padding-left:5px;
}
.form-control:-moz-placeholder 
{  text-align: left !important;
    padding-left:5px;
}
.tooladd:before{
content:'+';
font-size: 30px;
}
.tooladd {
    background: #4ab1b6;
    font-size: 32px;
    line-height: 26px;
    text-align: center;
}
.toolremove {
    font-size: 26x;
    line-height: 22px;
    text-align: center;
	background: #cb363c;
    color: #fff;
}
.toolremove:before{
content:'-';
font-size: 40px !important;
    line-height: 19px;
}
table tbody
{
height: auto !important;
}
button.button.rounded-corner.cancel{
    width: 120px;
    font-size: 16px;
    background: #cb363c;
    padding: 10px;
    margin-bottom: 30px;
	margin-right: 15px;
}
button.button.rounded-corner.save{
    width: 120px;
    font-size: 16px;
    background: #4ab1b6;
    padding: 10px;
    margin-bottom: 30px;
	
}
label.control-label.col-sm-4 ,.form-group > .col-sm-8 > label,.paymentinfo>div>label,label.control-label.col-sm-3 {
    font-size: 18px;
    font-family: proxima;
    text-align: left;
    font-weight: lighter;
}
.form-group > .col-sm-8 > input {
    height: 40px;
    box-shadow: none;
    border: 0px;
    border-bottom: 2px solid #f8f8f8;
    font-size: 18px;
    margin-bottom: 0;
    position: absolute;
	top:0;
	 visibility: hidden;
	}
.edit>.form-group > .col-sm-8 > input {
    visibility: visible;
}

.form-group > .col-sm-8 > input:focus {
    border: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid !important;
}
.form-group > .col-sm-8 > label {
    font-size: 15px !important;
    margin-top: 2px !important;
}
.edit.form-horizontal>.form-group.passworddiv
{
display:block;
}
.form-horizontal>.form-group.passworddiv
{
display:none;
}
.paymentinfo>div>span
 {font-size: 13px;
color: #c20000;
}
input[type=radio ]:not(old)+label.radiolabel:after {
    content: "";
    background: 0 0;
    position: absolute;
    left: 4px;
    top: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-transform: scale(.1);
    transform: scale(.0);
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    text-align: center;
}
input[type=radio ]:not(old):checked + label.radiolabel:after {
    background: #009688;
    -webkit-transform: scale(1);
    transform: scale(1);
}
input[type=radio ]:not(old)+label.radiolabel:before {
    content: "";
    height: 18px;
    width: 18px;
    border: 1px solid #7d7d7d;
    border-radius: 18px;
    position: absolute;
    left: 0;
    top: 0;
	
}
input[type=radio ]:not(old).radior {
    width: 28px;
    margin: 0;
    padding: 0;
    opacity: 0;
}
.radiolabel
{
position: absolute; left: 0; top: 2px;text-align: center;
    margin-top: 4px;
}
.paymentinfo>.row
{
position:relative;
cursor:pointer;
}
.paymentinfo>.row>label
{
cursor:pointer;
}

@media only screen and (max-width: 767px) 
{
.userseting
{
 max-width: 400px; float: none; margin: 0px auto;
}
}
label.control-label.col-sm-4, .form-group > .col-sm-8 {
  display: inline-block;
  width: ;
  width: 45%;
}