.contest-header {
  font-size:150%;
  color: #56b5b4;
}

.current-bets:nth-child(1) {
  border-left: 1px solid black;
}

.your-funds-box {
  color: white;
}

a { color: inherit; }

.contest-table {
  width:100%;
  margin-left: 0%;
  margin-right: 0%;
}

.contest-text {
  color: #73C1AE;
  font-size: 110%;
}

.icon {
  background-image:url('../img/football.gif');
}