<link rel="stylesheet" href="css/contestHome.css" />

	<!--   <div class="row currentBets fullWidth">
        <div class="medium-2 test columns">
            <h5>Current Bets</h5>
        </div>
		<div class="medium-2 test columns">
		<ul class="contesthome">
        <li ng-repeat="bet in lastThreeBets" class="test">
        <div class="">
            <span class="contest-header">{{bet.gameName}}</span>
            ${{bet.amountEntered}}<br>Ends in {{bet.endingd}}d {{bet.endingh}}h
        </div>
        </li>
		</ul>
        </div>
        <div class="medium-2 columns default-gradient your-funds-box test">
            <h5>Your Funds
                <br>$FUNDS</h5><h6><b><a data-open="addFunds">+Add Funds</a></b></h6>
        </div>
    </div> -->
	<div class="row">
	 <div class="container-fluid contestheader">
	 <div class="row">
	  <div class="container">
	  	<div class="row">
	 <div class="col-sm-1 floatnone currentbets" >
            <h5 >Current Bets</h5>
        </div>
		
		 <div class="col-sm-9 floatnone"  >
        <ul class="contesthome" style="max-width:816px">
        <li ng-repeat="bet in lastThreeBets" class="test">
        <div class="">
            <span class="contest-header">{{bet.gameName}}</span>
            <span style="font-size: 18px; font-weight: bold; padding-left: 3px;">${{bet.amountEntered}}</span><br>Ends in {{bet.endingd}}d {{bet.endingh}}h
        </div>
        </li>
		
		</ul><img class="loatnone currentbets " src="./img/rightarrow.png" style="
    width: 15px !important;
    min-width: 15px;
    padding-right: 0px;
    margin-left: -7px;
">
        </div>
		  <div class="col-sm-2 floatnone default-gradient your-funds-box">
            <h5 style="line-height: 32px;font-size: 22px;margin-bottom: 0px;" >Your Funds
                <br><span style="font-size: 28px;" >$130.00</span></h5><h6><b><a style="font-weight: 100;font-size: 14px;" data-open="addFunds">+Add Funds</a></b></h6>
        </div>
	 </div>
	 </div>
	 </div>
	 </div>
    <div class="container selection">
	<div class="row">
    <div  class="col-sm-2">
        <img src="./img/football.png" style="
    position: absolute;
    width: 20px;
    margin-top: 10px;
    margin-left: 20px;
"><select style="padding-left:70px; font-weight: bold;" >
            <option value="nfl">NFL</option>
            <option value="mlb">MLB</option>
        </select>
        </div>
        <div class="col-sm-2 columns" style="min-width:270px;">
            <img src="./img/price.png" style="
    position: absolute;
    width: 60px;
    margin-top: 9px;
    margin-left: 20px;
">
<select style=" font-size: 20px; padding-left: 109px; font-weight: bold;">
                <option value="100200k">$100-200k</option>
                <option value="200300k">$200-300k</option>
            </select>
        </div>
        <div class="col-sm-2 columns end">
            <a href="#" style="width:100%;   max-width: 90px;" class="button rounded-corner button-gradient">GO</a>
        </div>
    </div>
	</div>
        <div class="container">
            <div class="row">
    <table class="contest-table">
        <thead>
        <tr>
            <th>Game</th>
            <th>Tooltips</th>
            <th>Entries</th>
            <th>Matches</th>
            <th>Buy in</th>
            <th>Prize pool</th>
            <th>Deadline</th>
            <th>Your Entries</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="contest in contests">
            <td><span class="contest-text" ng-click="selectGame($index);redirect('#teamManager')")>{{contest.gameName}}</span></td>
            <td>&nbsp;<label ng-show="{{contest.tooltip1}}" class="tool tool1" >M</label><label ng-show="{{contest.tooltip2}}" class="tool tool2" >G</label></td>
            <td>{{contest.numEntries}}</td>
            <td>{{contest.numMatches}}</td>
            <td>${{contest.buyIn}}</td>
            <td>${{contest.prizePool}}</td>
            <td>{{contest.deadLine}} days</td>
            <td>YourEntries</td>
            <td><img style="max-width: 20px;" src="img/doller.png" /></td>
        </tr>
        </tbody>
        </tr>
        </thead>
    </table>
</div></div>
</div>