<!-- <link rel="stylesheet" href="css/teamManager.css" /> -->
 <div class="container "  style="padding-top: 50px;">
<div class="row wallet" >
    <div class="col-sm-12 columns" style="font-size:16px;" >
       <div class="row">
	   <div class="col-sm-2">
	   <p style="margin-right:10px; ">  Build Team for</p>
	   </div>
	   <div class="col-sm-2"><span class="game-name" style="    color: #73c1ae;">{{contestName}}</span>
	   </div>
	   </div>
<div class="row">
	   <div class="col-sm-2">
	   <p style="">Available </p>
	   </div>
	   <div class="col-sm-2"><span class="available-money" style="  color: #2ca4bd;  font-size: 25px;">${{currentSalary}}</span>
	   </div>
	   </div>
<div class="row" style="    margin-top: 10px;">
	   <div class="col-sm-2">Required
	   </div>
	   <div class="col-sm-3"><p style="font-size: 19px;"> 
	   <span style="color: #cb363c;font-size: 16px;margin-right: 5px;"> Offense</span> {{Offense}} 
	   <span style="color: #2ca4bd;font-size: 16px;margin-left: 16px;margin-right: 5px;">Defense</span> {{defense}}</p>
	   </div>
	   </div>	   
        
        
    </div>
	 
    
	<div class="col-sm-12 columns" style="margin-top:15px" >
     <table border="0" class="Wallet">
            <thead>
            <tr>
                <th>Player</th>
                <th>Position</th>
                <th>FPPG</th>
                <th>Played</th>
                <th>OPRK</th>
                <th>Game</th>
                <th>Salary</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="player in players">
                <td>
                    {{player.player}}
                </td>
                <td>
                    {{player.position}}
                </td>
                <td>
                    {{player.FPPG}}
                </td>
                <td>
                    {{player.played}}
                </td>
                <td>
                    {{player.OPRK}}
                </td>
                <td>
                    {{player.game}}
                </td>
                <td>
                    ${{player.salary}}
                </td>
                <td>
				<span class="tool {{player.status ? 'tooladd' : 'toolremove'}}" ></span>
				
                   <!--  <button ng-click="selectPlayer(player.id, player.value)" class="small button">{{player.button}}
                    </button> -->
                </td>
            </tr>
            </tbody>
        </table>
  
    </div>
	<div class="col-sm-12 columns">
        <div class="main-container">
            <div class="fixer-container">
                <button class="button rounded-corner cancel">Cancel</button>
                <button class="button rounded-corner save">Save</button>
            </div>
        </div>
    </div>
	</div>