<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Betr</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css" type="text/css"/>
    <link type="text/css" media="screen" rel="stylesheet" href="css/responsive-tables.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.min.js"></script>
    <script src="js/classes/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="js/classes/responsive-tables.js"></script>
    <script src="js/classes/scrollbars.min.js"></script>
    <script src="js/classes/angu-fixed-header-table.js"></script>
    <script src="js/betr.js"></script>
</head>
<body>
<div class="row">
    <div class="large-10 columns sign-up-padding">
        <div ng-app="betr" ng-controller="signUpController">
            <img style="width:200%; padding-bottom:20px" class="logo" src="img/signupLogo.gif">
            <input ng-model="name" class="input-box text-center" type="text" placeholder="Name"/>
            <input ng-model="email" class="input-box text-center" type="text" placeholder="Email"/>
            <input ng-model="phoneNumber" class="input-box text-center" type="text" placeholder="Mobile"/>
            <input ng-model="password" class="input-box text-center" type="text" placeholder="Password"/>
            <input class="input-box text-center" type="text" placeholder="Confirm Password"/>
            <button style="margin-top:10px; width:100%;" ng-click='signUp()' class="button rounded-corner button-gradient">Sign Up</button>
            <br>Already have an account? <a href="login.html">Sign in</a>
        </div>
    </div>
</div>
</body>
</html>